
/*for body background*/
.bod{
    background-image: url(images/background2.jpg);
}

/*overall div that contains color animal and number divs*/
.master{

  border-radius: 5px;
  background-color: white;
  background-image: url(images/masterb2.jpg);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/*div for color section*/
.color_sec{
  text-align: center;
  align-content: center;
  margin-right: auto;
  margin-left: 10px;
  margin-top: 30px;
  padding-right: 30px;
  padding-top: 20px;
}
/*for color image*/
.blue{
  border-style: hidden;
  align-content: center;
  height: 200px;
  border-radius: 5px;
}
/*for the animal section of the master div*/
.cat_sec{
  text-align: center;
  align-content: center;
  margin-right: auto;
  margin-left: 10px;
  margin-top: 30px;
  padding-right: 30px;

}
/*for the animal picture*/
.cat{
  border-radius: 5px;
}
/*for the number section of the master div*/
.four_sec{
  text-align: center;
  align-content: center;
  margin-right: auto;
  margin-left: 10px;
  margin-top: 30px;
  padding-right: 30px;
  margin-bottom: 20px;
}
/*for the number image*/
.four{
  height: 200px;
}
/*Styling for the h1*/
h1 {
  text-shadow: 1px 1px 10px white;
  color:white;
  text-align: center;

}
/*styling for all p elements*/
p{
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid white;

  font-size: 20px;
  border-radius: 6px;
  width: 30%;
}
/*styling for the navigation bar*/
ul {
  background-color: #3F3F3F;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
/*styling for each link in the nav bar*/
li {
  border-right:1px solid #bbb;
  float: left;

}
/*only refers to the last link*/
li:last-child {
  border-right: none;
}
/*style the link itself*/
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/*change the color of the link in mouse hovers over it*/
li a:hover {
  background-color: black;
}
