html {
    background-image: url(images/background_img.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100%;
}
 
/* for main content part*/
.content {
    margin-top:10px;
    margin-left: 30px;
    margin-right: 30px;
}

/* for menu */
.menu {
    background-color:#39a9cb;
    border-radius: 30px;
    font-weight: bold;
    height: 2em;
    margin-left: 30px;
    margin-right: 30px;
    padding:20px;
    width: 10 px;
    
}

.menu ul{
    list-style-type: none;
    margin: auto auto auto auto;
   /* display: flex; */  
    overflow: hidden;
    justify-content: space-between;
    
}

.menu li{
    float:left; 
    height: 100%;
    width: 2 em;
}

.menu li a {
    background-color: #39a9cb;
    color: black;
    display:block;
    margin-right: 20px;
    padding: 5px 20px 5px 20px; 
    text-decoration: none; 
    text-align: center;
}
.menu li a:hover {
    background-color: grey;
}

/* for divs */
.color {
    background-color: #fdfaf6;
    display:inline-block;
    line-height: 2;
    margin: 100px auto 100 px auto;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 25%;
    padding-left: 25%;
    text-align: left;
    width : 50%;
}
.animal {
    background-color: #5e8b7e;
    display:inline-block;
    line-height: 2;
    margin: 100px auto 100 px auto;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 25%;
    padding-left: 25%;
    text-align: left;
    width : 50%; 
}
.number {
    background-color: #39a9cb;
    display:inline-block;
    line-height: 2;
    margin: 100px auto 100 px auto;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 25%;
    padding-left: 25%;
    text-align: left; 
    width : 50%;
}

/* for images*/
.sunset {
    float:left;
    width:25%;
    margin-right:30%;
}

.eagle {
    float:right;
    width:25%;
    margin-right:30%;
    margin-left: 70px;
    margin-top: 5px;
}

.seven {
    float:left;
    width:25%;
    margin-right:30%;
}

/*for paragraph tag*/
p{
    color: black;
    font-weight: bold;
}
/*for hr tag*/
hr{
    color:black;
}
